:root {
    --slide-bg: #ffffff;
    --page-bg: #edebe9;
    --bar-bg: #f3f2f1;
    --separator-bg: #c8c6c4;

    --dotted-border: #c0c0c0;
    --slide-border: #c6c6c6;
    --bar-border: #b7b7b7;
    --slide-border: #d2d2ce;
    --footer-border: #e1dfdd;

    --slideshow-bg: #c43e1c;

    --text-primary: #252423;
    --text-secondary: #ffffff;
    --text-tertiary: #605e5c;

    --text-slide-active: #b13719;
    --text-slide: #3a3a38;
}

html,
body {
    padding: 0;
    margin: 0;
    overflow-x: hidden;
}

body {
    min-width: 100vw;
    min-height: 100vh;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
span {
    color: var(--text-primary);
    padding: 0;
    margin: 0;
}

/* width */
::-webkit-scrollbar {
    width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #f3f2f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: var(--text-tertiary);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: var(--text-primary);
}
